.myModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}

.myModalContent {
  padding: 25px;
  background: white;
  border-radius: 16px;
  min-width: 250px;
  display: flex;
}

.myModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerInfo {
  margin: 20px;
  padding: 0;
  border: 2px solid blue;
  border-radius: 5px;
  width: 120px;
  height: 250px;
  background-image: url("../../assets/images/background.jpg");
  background-size: cover;
}
